/**
 * Global or section wide styles.
 * (Follow BEM conventions for section styles)
 * http://getbem.com/introduction/
 */

html,
body {
  background-color: #221F1F;
  color: #F5F5F1;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Geneva, Tahoma, Arial, sans-serif;
  font-size: 14px;
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  margin: 0;
  padding: 0;
}

a,
label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}